.missionsContainer {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    font-family: Rajdhani;
    font-weight: 600;
    color: var(--white);
}

.missionsContainer > span {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1rem;
}

.missionsContainer > span.arrived::before {
    background-image: url(/gifs/filled-bar.gif);
}

.missionsContainer > span:first-child::before {
    transform: rotateZ(0deg);
    background-image: url(/gifs/filled-bar.gif);
}

.missionsContainer > span::before {
    background-image: url(/gifs/empty-bar.gif);
    background-repeat: no-repeat;
    background-position: 0px -174px;
    transform: rotateZ(180deg);
    background-size: cover;
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 10em;
    height: 16em;
    content: "";
}

.missionsContainer h3 {
    font-size: 2rem;
}
.missionsContainer .imgDiv {
    max-width: 5em;
    height: 5em;
    min-width: 5.5em;
    min-height: 5.5em;
    border-radius: 50%;
    background-color: #FFF;
    overflow: hidden;
}
.missionsContainer .imgDiv img {
    height: 100%;
}

.missionsContainer div {
    font-size: 1.4rem;
    margin: 0 1em;
}


.missionsContainer > div span {
    flex: 1;
}
.missionsContainer > div span:first-child {
    border-right: 1px solid #f0f1f3;
}
.missionsContainer > div span:last-child {
    border-left: 1px solid #f0f1f3;
}

@media (max-width: 850px) {
    .missionsContainer > span.arrived::before {
        background-image: url(/gifs/filled-circle.gif);
        background-position: 0px -22px;
        transform: rotateZ(0deg);
        background-size: cover;
        height: 9em;
        opacity: 0.4;
        width: 12em;
        z-index: 1;
    }
    .missionsContainer > span::before {
        background-image: none;
    }
    .missionsContainer > span {
        flex-direction: column;
        text-align: center;
    }
    .missionsContainer .imgDiv {
        max-width: 7em;
        width: 7em;
        height: 7em;
    }
    .missionsContainer .description {
        margin: 1em 0;
    }
}