.externalContainer {
    background-color: #FFF;
}
.externalContainer header {
    max-width: 992px;
    padding-top: 3em;
    margin: auto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 0em;
}
.main iframe {
    height: calc((100vw - 600px) / 2);
}
.main, .studyContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2em;
    background-color: var(--blue-kid);
}

.main::before, .studyContainer::before {
    content: '';
    position: relative;
    top: -1px;
    height: 80px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/icons/cloud-white.svg);
    background-color: #80c3d2;
    -webkit-transform: rotate( 180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.main::after, .studyContainer::after {
    content: '';
    position: relative;
    height: 80px;
    width: 100%;
    bottom: -1px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/icons/cloud-white.svg);
    background-color: #80c3d2;
}

.studyContainer > div,
.main > div {
    flex: 1;
    margin: 1em;
    min-width: 600px;
    text-align: center;
}
.container h2 {
    margin-bottom: 1em;
}
.main div:first-child {
    max-width: 600px;
}
.container section.complete {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container  section.complete button {
    height: 5rem;
    margin-top: 1em;
    padding: 1em 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    background: var(--blue-dark);
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
    transition: background-color .2s;
}
.container button:hover {
    color: var(--white);
    background: var(--blue);
    border-bottom: var(--green) 0.3rem solid;
    transition: all .3s;
}
.container button:disabled {
    cursor: not-allowed;
}

@media (max-width: 1300px) {
    .main div:first-child {
        max-width: 100%;
    }
    .main div:last-child iframe {
        height: calc(100vw / 2);
    }
}
